#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html{
  background-image: url(https://raw.githubusercontent.com/fireclint/weather-app-react/main/src/assets/sunset.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 7rem;
    line-height: 1.5;
}

.mainContainer h2{
    font-size: 60px;
}

.mainContainer span{
    font-size: 25px;
}

.searchInput {
    margin-top: 4rem;
    width: 23rem;
    height: 3rem;
    font-size: 18px;

    border: 2px solid white;
    border-radius: 20px;

    text-align: center;

    background-color: transparent;
    color: white;
    cursor: pointer;
}